.albums-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.albums-card-deck {
    display: flex;
    flex-direction: row;
}


.albums-card {
    display: inline-block !important;
    min-width: 400px !important;
    max-width: 400px !important;
    margin-bottom: 30px !important;
    padding-bottom: 0px !important;
    border-width: 0px;
}

.albums-card-body {
    margin-left: auto !important;
    margin-right: auto !important;
    height: 125px !important;
    background-color: #1A1E1A;
    color: white;
}

.albums-card-footer{
    background-color: #1A1E1A;
    border-color: #727350;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.albums-card-text {
    padding-bottom: 10px !important;
}

.text-muted {
    padding-bottom: 200px !important;
}

@media screen and (max-width: 1280px) {
    .albums-card-deck {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
  