.ol-attribution {
  position: absolute !important;
  bottom: 0px !important;
  right: 10px !important;
  font-size: 5pt !important;
}

.ol-viewport {
  border-radius: 10px !important;
}

#travel-description {
  padding-top: 15px !important;
}

#travel-quote {
  text-align: center;
  margin-top: 40px;
  font-size: 14pt;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
  font-family: Montserrat;
}

#travel-author {
  text-align: center;
  font-style: italic;
  font-size: 14pt;
  color: white;
  font-family: Montserrat;
}

#travel-title {
  text-align: center;
  padding-bottom: 10px;
}

#popupContent * {
  width: 100%;
}

#EMpopup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  font-family: Montserrat !important;
}

#EMpopup:after,
#EMpopup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#EMpopup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

#EMpopup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

#EMpopup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
  content: "✖";
}

#EMpopup-closer:after {
  content: "✖";
}
