.home {
  display: flex;
}

.home-left {
  justify-content: flex-end;
  height: 100%;
  width: 50%;
  background-color: black;
  min-height: 500px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: white;
  background: #1a1e1b;
  font-family: Montserrat !important;
  text-align: center;
  padding: 40px 40px;
}

.home-right > h1 {
  color: white;
  font-family: Montserrat !important;
}

.home-right > h4 {
  color: white;
  font-family: Montserrat !important;
}

.home-right > h5 {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.home-footer {
    padding-top: 200px;
    padding-bottom: 0px;
}

.home-footer > a {
    padding: 20px;
    color: #727350;
}

@media screen and (max-width: 992px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .home-left {
    width: auto;
    min-height: 200px;
  }

  .home-right {
    width: auto;
    height: auto;
    background: #1a1e1b;
  }

  .home-footer {
    padding-top: 100px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1921px) {
  .home {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 3840px) {
  .home {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}