.text-center {
    font-family: 'Inconsolata', monospace !important;
    padding-bottom: 40px !important;
    border-top: 0px;
}

#intro-body {
    margin-left: 125px !important;
    margin-right: 125px !important;
    padding-bottom: 0px !important;
}

#intro-text {
    font-size: 15pt !important;
}

#intro-image {
    width: 50% !important;
    border-radius: 3% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;

}

#links {
    padding:20px !important;
}

#social {
    padding: 20px !important;
}