.home {
  display: flex;
  flex: 1 100%;
}

.home-left {
  height: 100%;
  width: 50%;
  color: black;
  background: #eeeeee;
  min-height: 500px;
}

.home-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  color: white;
  background: #1a1e1b;
  font-family: Montserrat !important;
  text-align: center;
  padding: 40px 40px;
}

.home-right > h1 {
  color: white;
  font-family: Montserrat !important;
}

.home-right > h4 {
  color: white;
  font-family: Montserrat !important;
}

.home-footer {
    padding-top: 100px;
    padding-bottom: 0px;
}

.home-footer > a {
    padding: 20px;
    color: #727350;
}

@media screen and (max-width: 750px) {
  .home {
    flex-direction: column;
  }

  .home-left {
    width: auto;
    min-height: 200px;
  }

  .home-right {
    width: auto;
    height: auto;
    background: #1a1e1b;
  }
}
