/* .card-title {
    text-decoration: underline !important;
}

.card-body {
    margin-left: auto !important;
    margin-right: auto !important;
}

.card-text {
    padding-bottom: 10px !important;

}

.card-img-top {
    width: 350px !important;
    height: 200px !important;
} */