.home-nav {
  background: rgb(7, 8, 9);
  background: linear-gradient(
    90deg,
    rgba(7, 8, 9, 1) 0%,
    rgba(59, 60, 60, 1) 100%
  );
}

.header-nav {
  background: rgb(7, 8, 9);
  background: linear-gradient(
    90deg,
    rgba(7, 8, 9, 1) 0%,
    rgba(59, 60, 60, 1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-light .navbar-nav .nav-link a {
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.blinking-div {
  padding-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Inconsolata", monospace !important;
}

.blinking {
  animation: blinkingText 1s infinite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
@keyframes blinkingText {
  0% {
    color: white;
  }
  49% {
    color: white;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.prompt {
  color: #757545;
}

.text-center {
  font-family: "Inconsolata", monospace !important;
  padding-bottom: 40px !important;
  border-top: 0px;
}
