.ol-attribution {
    position: absolute !important;
    bottom: 0px !important;
    right: 10px !important;
    font-size: 5pt !important;
}

.ol-viewport {
    border-radius: 10px !important;
}

#travel-description {
    padding-top: 15px !important;
}

#travel-quote {
  text-align: center;
  font-style: italic;
  margin-top: 40px;
  font-size: 14pt;
  margin-left: 100px;
  margin-right: 100px;
}

#travel-author {
  text-align: center;
  font-style: italic;
  font-size: 14pt;
}

#travel-title {
  text-align: center;
  padding-bottom: 10px;
}