.blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.blog-card {
  color: white;
  font-family: Montserrat;
  height: 28rem;
}

.blog-card:hover{
  transform: scale(1.02);
  transition: ease-in-out 0.2s;
}

.blog-card-image {
  width: 25rem;
  height: 16rem;
  object-fit: cover;
  background: white;
}

.blog-card-body {
  height: 9.9rem;
  background-color: #1A1E1A;
  padding: 15px 15px;
  width: 25rem;
  padding-bottom: 0px;
}

.blog-card-body > p {
  padding-top: 8px;
  font-size: 13px;
}

.blog-card-body > h6 {
  height: 50px;
}